
.icon-menu-outline:before { content: '\e800'; } /* '' */
.icon-menu:before { content: '\e801'; } /* '' */
.icon-menu-1:before { content: '\e802'; } /* '' */
.icon-menu-3:before { content: '\f008'; } /* '' */
.icon-menu-2:before { content: '\f0c9'; } /* '' */
