<div class="container">
  <div class="product-select-wrapper">
    <div class="spacer">

    </div>
    <select class="product-select" (change)="setBaseProduct($event)">
      <option>{{ BASE_PRODUCT.OG_KUSH }}</option>
      <option>{{ BASE_PRODUCT.SOUR_DIESEL }}</option>
      <option>{{ BASE_PRODUCT.GRANDDADDY_PURPLE }}</option>
      <option>{{ BASE_PRODUCT.GREEN_CRACK }}
    </select>
  </div>
  <div class="ingredient-lists">
    <app-ingredient-list
      listId="ingredients"
      connectedTo="mix-list"
      [ingredients]="sourceIngredients"
      (drop)="removeFromCurrentMix($event)"
      [sortingDisabled]="true"
      [dropDisabled]="sourceDragDisabled()"
    />
    <app-ingredient-list
      listId="mix-list"
      connectedTo="ingredients"
      [ingredients]="mixedIngredients()"
      (drop)="onIngredientDrop($event)"
      (dragStarted)="disableSourceDrag()"
      (dragEnded)="enableSourceDrag()"
      [dropDisabled]="
        mixedIngredients().length === MAX_INGREDIENTS_IN_MIX_AMOUNT
      "
      [changeRedOnExit]="true"
    />
  </div>
</div>
