.container {
  margin: auto;
}

.ingredient-lists, .product-select-wrapper {
  display: flex;
  justify-content: center;
  column-gap: 10px;
  container-type: inline-size;
}
.product-select-wrapper {
  height: 50px;
  display: flex;
  margin-bottom: 10px;
}


.product-select, .spacer {
  width: 180px;
}

.spacer {
  visibility: hidden;
}


@media (max-width: 600px) {
  .product-select, .spacer {
    width: 40cwq;
  }
}
