$primary: #3a5727;
$primary-dark: #183404;
$on-primary-dark-accent: #ff7f27;
$on-primary-dark-accent-light: #ffdcc4;
$on-primary: white;
$secondary: #97d16e;
$secondary-light: #b4f983;
$secondary-dark: #6f9a51;
$on-primary-accent: #fffbce;
$on-primary-muted: #7f7844;
$error-on-primary-dark: #ff1a1a;
$bg-gradient-light: #97d16e;
$bg-gradient-dark: #3a5727;
