@mixin background {
  background-image: url("/img/geometric-background.png");
  background-size: 300px 200px;
  background-repeat: repeat;
}

@mixin inner-box-shadow($spread, $color: #000) {
  -webkit-box-shadow: inset 0 0 $spread $color;
  -moz-box-shadow: inset 0 0 $spread $color;
  box-shadow: inset 0 0 $spread $color;
}

@mixin custom-hr($color1, $color2) {
  border-top: 1px solid $color1;
  border-bottom: 1px solid $color2;
}
