<div class="container" #container>
  <nav class="leftNav">
    <ul>
      <li>
        <a routerLink="/mix" routerLinkActive="active-link">Calculator</a>
      </li>
      <li>Recipes</li>
    </ul>
  </nav>
  <img src="img/Site-logo.png" alt="Schedule 1 Calculator" class="logo" />
  <nav class="rightNav">
    <ul>
      <li>
        <a routerLink="/log-in" routerLinkActive="active-link">Log in</a>
      </li>
      <li>
        <a routerLink="/register" routerLinkActive="active-link">Sign Up</a>
      </li>
    </ul>
  </nav>
</div>
