<div class="container" #container>
  <nav class="leftNav">
    <ul>
      <li>
        <a routerLink="/mix" routerLinkActive="active-link">Calculator</a>
      </li>
      <li>Recipes</li>
    </ul>
  </nav>
  <div
    [class.mobile-menu-button]="true"
    [class.mobile-menu-button--toggled]="isMobileMenuOpen()"
    (click)="requestMobileMenuToggle()"
  >
    <i class="icon-menu-1"></i>
  </div>
  <img src="img/Site-logo.png" alt="Schedule 1 Calculator" class="logo" />
  <div class="mobile-header-spacer"></div>
  <nav class="rightNav">
    <ul>
      <li>
        <a routerLink="/log-in" routerLinkActive="active-link">Log in</a>
      </li>
      <li>
        <a routerLink="/register" routerLinkActive="active-link">Sign Up</a>
      </li>
    </ul>
  </nav>
</div>
