@use 'abstracts';

.container {
  height: 75px;
  position: fixed;
  width:100%;
  color: white;
  background-color: abstracts.$primary;
  padding-left: 40px;
  padding-right: 40px;
  column-gap: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.logo {
  height: 90%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.nav-wrapper {
  width: 30%;
}

.active-link {
  color: abstracts.$secondary;
}

.mobile-menu-button {
  display: none;
  font-size: 40px;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  color: abstracts.$secondary;
}

.mobile-menu-button--toggled {
  color: white !important;
}

.mobile-header-spacer {
  display: none;
  visibility: hidden;
  width: 40px;
  height: 40px;
}

@media (max-width: 600px) {
  .nav-wrapper {
    display: none;
  }
  .container {
    padding: 0 10px 0 10px;
    justify-content: space-between;
  }
  .mobile-menu-button {
    display: flex;
  }
  .mobile-header-spacer {
    display: block;
  }
}

.auth {
  border: 1px solid white;
  border-radius: 5px;
  height: 80%;
  aspect-ratio: 1;
}
