@use "abstracts";

.container {
  width: 180px;
  height: calc((32px * 8) + 2px * 7 + 20px);
  border: 1px solid #333;
  @include abstracts.inner-box-shadow(20px);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: #0c150c;
  position: relative;
  overflow-x: hidden;
}

.custom-preview {
  background-color: red;
}

ul {
  margin: auto;
  min-height: 100%;
  width: 100%;
  height: fit-content;
  display: inline-flex;
  justify-content: flex-start;
  flex-direction: column;
  row-gap: 2px;
  align-items: center;
  overflow: hidden;
  padding-top: 10px;
  padding-bottom:10px;
  box-sizing: border-box;
}

