@use "abstracts";

.container {
  z-index: 2;
  position: relative;
}

.container--horizontal {
  height: 100%;
  font-size: 2rem;
}


.container > ul {
  display: flex;
  align-items: center;
  margin: auto;
  width: 100%;
  height: 100%;
}


.container--vertical > ul {
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;

}


li {
  width: 100%;
  height: 100%;
}

a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #d7d7d7;
  font-family: Bahnschrift;
  padding: 5px;
  box-sizing: border-box;
  width: 100%;
}

.container--vertical > ul > li > a {
  border: 1px solid #262626;
  background-color:  #151515;
  @include abstracts.inner-box-shadow(5px);
}
.container--horizontal > ul > li > a {
  padding-left: 10px;
  padding-right: 10px;
}

a:hover {
  filter: brightness(120%);
}

.active-link {
  color: abstracts.$secondary;
}
