<div class="container">
  <header class="header">
    <h1>Calculator</h1>
    <p class="description">
      Drag and drop an ingredient into the list to create a recipe.
    </p>
  </header>
  <section class="semantic-wrapper" aria-label="recipe builder">
    <app-recipe-builder />
  </section>
  <section aria-label="Calculator result" class="result">
    <div class="effects">
      <strong class="effect-label">Effects: </strong>
      <ul class="effect-list" role="list">
        @for (effect of effects(); track effect.name) {
          <li [style.color]="effect.color" class="effect" role="listitem">
            {{ effect.name }}<span class="separator">{{ !$last ? ",&nbsp;" : "." }}</span>
          </li>
        }
      </ul>
    </div>
    <p><strong>Cost:</strong> ${{ cost() }}</p>
    <p><strong>Sell:</strong> ${{ sellPrice() }}</p>
  </section>
</div>
