$color-primary: #3a5727;
$color-primary-dark: #183404;
$color-on-primary-dark-accent: #ff7f27;
$color-on-primary-dark-accent-light: #ffdcc4;
$color-on-primary: white;
$color-secondary: #97d16e;
$color-secondary-light: #b4f983;
$color-secondary-dark: #6f9a51;
$color-on-primary-accent: #fffbce;
$color-on-primary-muted: #7f7844;
$color-error-on-primary-dark: #ff1a1a;
$color-bg-gradient-light: #97d16e;
$color-bg-gradient-dark: #3a5727;
