@use "colors";

.container {
    width: 500px;
    height: 700px;
    border-radius: 10px;
    padding: 10px;
    color: white;
    background-color: colors.$primary;
    font-size: 21px;
    font-family: Arial, Helvetica, sans-serif
}

header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.rank {
    text-align: right;
    color: colors.$secondary;
}

.name, .rank, .author {
    width: 40%;
}

.name {
    font-weight: 600;
    font-size: 1.2em;
    color: colors.$on-primary-accent;
}
.author {
    color: colors.$secondary;
}

.substanceAmount {
    color: colors.$secondary;
}

.productImg {
    height: 20px;
    scale: 1.5;
}

.product, .rank {
}


.cost, .sell, .net-profit {
}

